nav a img {
	border-radius: 50%;
	size: 50%;
	border-style: solid;
	border-width: 1px;
	width: 2.5em;
	margin-top: -0.6em;
}


.navbar-custom {
	background-color: #fff;
	border-color: #fff;
	background-image: none;	
}

.navbar-default .navbar-nav > li > a {
    color: #000;
}

/*a.redtop{
	border-top: 4px;
	border-top-style: solid;
	border-color: white;
}

a.redtop:hover {
	transition-duration: 1s;
	border-top: 4px;
	border-top-style: solid;
	border-color: #ae0000;
} 

#brand {
	margin-top: 0em;
	padding-top: 0.5em;
	letter-spacing: 3px;
	border-top: 4px;
	border-color: white;
	border-top-style: solid;
	color: black;
	background-image: none;
}

#brand:hover {
	transition-duration: 1s;
	border-top: 4px;
	border-top-style: solid;
	border-color: #ae0000
}
*/

.hvr-radial-out:before {
	background: #ae0000;
}